.container {
	max-width: 192rem;
	margin: 0 auto;
	padding: 0 2rem; 
}

.kargo__header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2.4rem max(2rem, 5%);
	height: 5.5rem;
	margin-bottom: 3.2rem;
	margin-top: 2.4rem;
}

.header__image img {
	height: 100%;
	max-width: 17.5rem;
}

.nav__kargo .ul__kargo {
	bottom: -0.5rem;
	position: relative;
	display: flex;
	gap: clamp(2rem, 5vw, 6.8rem);
	list-style: none;
}

.burger {
	display: flex;
	flex-direction: column;
	row-gap: 0.7rem;
	display: none;
	cursor: pointer;
}
.burger span {
	display: inline-block;
	width: 4rem;
	height: 0.4rem;
	background-color: #203253;
}
.li_kargo a {
	font-family: 'Raleway';
	text-decoration: none;
	color: #203253;
	font-size: 1.6rem;
	text-decoration: none;
}

.delivery__section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 7.1rem;
	padding: 0 2rem;
}

.delivery {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 127.6rem;
	min-height: 54.6rem;
	border-radius: 3.6rem;
	background-color: #b1ddff;
}

.text__delivery {
	display: inline-block;
	flex-wrap: wrap;
	padding: 5.3rem 3rem 6.9rem 3rem;
	flex-direction: column;
}

.h1__delivery {
	width: 100%;
	max-width: 46.6rem;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: clamp(3rem, 4vw, 5.1rem);
	color: #203253;
	margin-bottom: 1.5rem;
}

.span__delivery-title {
	font-family: 'Raleway';
	color: #335d93;
	font-size: 1.6rem;
}

.span_container {
	display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
	margin-top: 1rem;
	max-width: 33.5rem;
	margin-bottom: 2.3rem;
}

.span_container span {
	font-family: 'Raleway';
	font-size: 1.6rem;
	color: #335d93;
	display: flex;
	align-items: center;
	flex: 1 1 45%;
	gap: 0.6rem;
}

.span_container img {
	width: 2rem;
	height: 2rem;
}

.span__text-delivery {
	margin-bottom: 1rem;
}

.inputs__delivery input {
	width: 100%;
	max-width: 46.7rem;
	height: 5rem;
	border-radius: 1.6rem;
	padding: 1.3rem 4rem 1.3rem 2rem;
	font-family: 'Raleway';
	font-size: 1.6rem;
	font-weight: 500;
	color: #203253;
	border: none;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	background-repeat: no-repeat;
	background-position: right 1.2rem center;
	background-size: 2rem;
	margin-bottom: 1rem;
}

.input-phone {
	background-image: url('img/call.png');
}

.input-search {
	background-image: url('img/search.png');
}

.input-phone::placeholder {
	display: inline-block;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 1.6rem;
	color: #929daf;
}

.input-search::placeholder {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 1.6rem;
	color: #929daf;
}

.buttons button {
	width: 100%;
	max-width: 46.7rem;
	border-radius: 1.6rem;
	padding: 1.6rem 1.9rem 1.5rem 1.9rem;
	background-color: #203253;
	color: #ffffff;
	border: none;
}

.buttons__delivery {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1.6rem;
}

.photo_delivery {
	display: flex;
	align-items: flex-end;
}

.photo_delivery img {
	width: 56rem;
	height: auto;
	transition: all 0.3s ease;
}

.stack_section {
	display: block;
	padding: 0px max(6rem, 15%);
	margin-bottom: 6rem;
}
.stack__flex {
	display: inline-block;
	align-items: center;
	justify-content: center;
}
.title__stack {
	font-family: 'Raleway';
	padding: 0;
	margin-bottom: 1rem;
}

.h2--title__stack {
	font-size: clamp(2.8rem, 3.5vw, 4rem);
	color: #203253;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.descr__stack {
	font-family: 'Raleway';
	padding: 0;
	margin-bottom: 4rem;
}

.p--descr__stack {
	max-width: 62rem;
	color: #335d93;
	font-size: clamp(1.4rem, 2.5vw, 1.8rem);
	font-weight: 400;
	margin-bottom: 4rem;
}

.stack__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 2rem;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 2.4rem;
}

.card {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	min-height: 18.2rem;
	background-color: #f4faff;
	border-radius: 2.4rem;
	padding: 3rem 3rem;
	gap: 1rem;
}

.card p {
	font-family: 'Raleway';
	font-size: 1.6rem;
	font-weight: 700;
	color: #203253;
	max-width: 17.2rem;
	word-wrap: break-word;
	white-space: normal;
	line-height: 140%;
	text-align: left;
}

.card img {
	position: relative;
	right: 4rem;
	width: 4.8rem;
	height: 4.8rem;
	object-fit: contain;
}

.cases__section {
	padding: 1px max(2rem, 15%);
	margin-bottom: 4rem;
}

.cases__text--container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 6rem;
	flex-wrap: wrap;
	gap: 2rem;
}

.cases__h2 {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: clamp(2.8rem, 3.5vw, 4rem);
	color: #203253;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cases__p {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.8rem;
	color: #335d93;
	max-width: 63rem;
}

.cases__photo--container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 128rem;
	min-height: 52.2rem;
	background-color: #f4faff;
	border-radius: 2.4rem;
	flex-wrap: wrap;
	padding: 0rem;
}

.cases__text--section {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	column-gap: 44.4rem;
}

.photo__example {
	max-width: 63.8rem;
	width: 100%;
	min-height: 52.2rem;
}

.photo__example img {
	position: relative;
	left: 1.8rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.4rem;
}

.example {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 600;
	max-width: 17.4rem;
	height: 4.3rem;
	font-size: 1.6rem;
	color: #203253;
	background-color: #e6f1fa;
	text-decoration: none;
	border-radius: 0.8rem;
	margin-bottom: 3rem;
	padding: 1rem 2rem;
}

.h2__example {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: clamp(2.4rem, 3vw, 3.6rem);
	color: #203253;
	margin-bottom: 3rem;
}

.example__descr {
	font-family: 'Raleway';
	max-width: 56rem;
	font-size: 1.8rem;
	color: #335d93;
	margin-bottom: 3rem;
}

.example__span--container {
	display: flex;
	gap: 3rem;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.example__span--container span {
	font-size: 1.6rem;
	font-family: 'Raleway';
	color: #335d93;
	margin-bottom: 0.5rem;
}

.example__a {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.6rem;
	text-decoration: none;
	text-align: center;
	min-width: 19.4rem;
	padding: 1.5rem 3rem;
	border-radius: 1.6rem;
	color: #fff;
	background-color: #203253;
	display: inline-block;
}

.boat {
	padding: 1px max(2rem, 15%);
	width: 100%;
	margin-bottom: 6rem;
	overflow-x: auto;
}

.line {
	display: flex;
	align-items: center;
	gap: 2rem;
	min-width: 100rem;
}

.line-track {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 0;
}

.track-line {
	flex: 1;
	height: 0.5rem;
	background: #72b3ea;
}

.track-space {
	flex: 1;
	height: 4px;
	background: transparent;
}

.dot {
	width: 1.8rem;
	height: 1.8rem;
	background: #72b3ea;
	border-radius: 50%;
	z-index: 2;
	flex-shrink: 0;
}

.dot-active {
	position: relative;
	right: 10rem;
	gap: 2rem;
	background: #203253;
}

.line-black {
	background: #203253;
}

.ship {
	width: 8rem;
	height: auto;
	flex-shrink: 0;
}

.ship-2 {
	width: 8rem;
	height: auto;
	position: relative;
	left: 37rem;
	bottom: 1rem;
	z-index: 3;
	flex-shrink: 0;
}
.ship-media {
	display: none;
}

.shipping {
	padding: 0 max(2rem, 15%);
	margin-bottom: 6rem;
}

.shipping__text {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 6rem;
	flex-wrap: wrap;
	gap: 2rem;
}

.shipping__h2 {
	font-family: 'Raleway';
	color: #203253;
	font-size: clamp(2.8rem, 3.5vw, 4rem);
	font-weight: 700;
	max-width: 46.2rem;
}

.shipping__p {
	position: relative;
	bottom: -4rem;
	font-family: 'Raleway';
	color: #335d93;
	font-size: 1.8rem;
	font-weight: 400;
	max-width: 63rem;
}

.cards__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.shipping__card {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #f4faff;
	border-radius: 3.2rem;
	padding: 4rem 2rem;
	position: relative;
}

.card__icon {
	width: 6.4rem;
	height: 6.4rem;
	margin-bottom: 2rem;
}

.card__icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__title {
	font-family: 'Raleway';
	font-weight: 700;
	max-width: 12.7rem;
	font-size: 2.4rem;
	color: #203253;
	text-align: left;
	margin-bottom: 1rem;
}

.card__days {
	font-family: 'Raleway';
	font-size: 2rem;
	font-weight: 400;
	color: #335d93;
	text-align: left;
	margin-bottom: 0.5rem;
}

.card__price {
	font-family: 'Raleway';
	font-size: 2rem;
	font-weight: 600;
	color: #203253;
	margin-bottom: 2rem;
	text-align: left;
}

.card__btn {
	background-color: #203253;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	border-radius: 1.6rem;
	padding: 1.5rem 3rem;
	width: 100%;
	max-width: 22.4rem;
	cursor: pointer;
}

.feedback {
	padding: 0 max(2rem, 15%);
	margin-bottom: 6rem;
}

.feedback__text--container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 3rem;
	margin-bottom: 4rem;
	flex-wrap: wrap;
}

.feedback__h2 {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: clamp(2.8rem, 3.5vw, 4rem);
	color: #203253;
	max-width: 31.5rem;
}

.feedback__p {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.8rem;
	color: #335d93;
	max-width: 63rem;
}

.feedback__card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 2rem;
}

.feedback__cards {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #f4faff;
	border-radius: 2.4rem;
	padding: 5rem 3.5rem;
}

.rating--h3__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.feedback__h3 {
	font-family: 'Raleway';
	color: #203253;
	font-size: 2.4rem;
	font-weight: 700;
}

.icon-star-full {
	color: #72b3ea;
	font-size: 1.2rem;
}

.feedback--p__card {
	font-family: 'Raleway';
	font-size: 1.6rem;
	max-width: 100%;
	color: #335d93;
	margin-bottom: 3rem;
}

.container--avatar__h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1.7rem;
}

.avatar__icon {
	width: 4.8rem;
	height: 4.8rem;
	flex-shrink: 0;
}

.avatar__icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name__feedback {
	font-family: 'Raleway';
	color: #203253;
	font-size: 1.8rem;
	font-weight: 700;
}

.sum {
	margin: 0 auto;
	margin-bottom: 6rem;
	padding: 0 2rem;
}

.sum__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4.5rem;
	flex-wrap: wrap;
}

.form__sum {
	display: flex;

	justify-content: center;
	flex-direction: column;
	width: 100%;
	max-width: 62.8rem;
	background-color: #f4faff;
	border-radius: 2.4rem;
	padding: 4rem 3.5rem;
}

.input__group input {
	width: 100%;
	max-width: 55.2rem;
	height: 5rem;
	border-radius: 1.2rem;
	background-color: #e6f1fa;
	border: none;
	margin-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 4rem;
	padding-top: 0.2rem;
}

.input__group input::placeholder {
	font-family: 'Raleway';
	font-weight: 500;
	color: #203253;
	font-size: 1.6rem;
}

.input--name {
	background: #e6f1fa url('icons/person.png') no-repeat right 2rem center;
	background-size: 2rem;
}

.input--phone {
	background: #e6f1fa url('icons/phone__form.png') no-repeat right 2rem center;
	background-size: 2rem;
}

.input--email {
	background: #e6f1fa url('icons/email__form.png') no-repeat right 2rem center;
	background-size: 2rem;
}

.btn__sum {
	font-family: 'Raleway';
	font-weight: 400;
	width: 100%;
	max-width: 55.3rem;
	height: 5rem;
	border-radius: 1.6rem;
	border: none;
	font-size: 1.6rem;
	background-color: #203253;
	color: #fff;
	margin-bottom: 2rem;
	cursor: pointer;
}

.p__sum {
	font-family: 'Raleway';
	color: #335d93;
	line-height: 140%;
	max-width: 55.3rem;
	font-size: 1.6rem;
}

.p__sum .underline {
	text-decoration: underline;
	text-decoration-thickness: 0.1rem;
	text-underline-offset: 0.2rem;
	color: #335d93;
}

.sum__text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	max-width: 60.3rem;
}

.sum__text--h2 {
	font-family: 'Raleway';
	width: 100%;
	color: #203253;
	font-size: clamp(2.8rem, 3.5vw, 4rem);
	line-height: 110%;
	margin-bottom: 2rem;
}

.p__sum--text {
	font-family: 'Raleway';
	font-size: 1.8rem;
	width: 100%;
	color: #335d93;
	margin-bottom: 6rem;
}

.icons__container--sum {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
	margin-bottom: 3rem;
}

.icon__sum {
	width: 7.2rem;
	height: 7.2rem;
	flex-shrink: 0;
}

.icon__sum img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container__h2--p_sum {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
	flex-direction: column;
	margin-bottom: 1rem;
}

.chats__container--h2 {
	font-family: 'Raleway';
	font-size: 2.4rem;
	font-weight: 700;
	color: #203253;
}

.p__sum_number {
	font-family: 'Raleway';
	line-height: 100%;
	color: #335d93;
	font-size: 1.8rem;
	letter-spacing: 0%;
	font-weight: 400;
	word-break: break-all;
}

.footer {
	background-color: #203253;
	width: 100%;
	padding: 4.8rem 0;
}

.footer__container {
	max-width: 129.2rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3rem;
}

.footer__left {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.footer__nav {
	display: flex;
	gap: clamp(2rem, 5vw, 8.5rem);
	flex-wrap: wrap;
}

.footer__nav a {
	font-family: 'Raleway';
	color: #ffffff;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
}

.footer__right {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: flex-end;
	align-items: center;
}

.footer__social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.footer__social img {
	width: 3.6rem;
	height: 3.6rem;
	object-fit: cover;
}

.footer__qr {
	width: 17.6rem;
	height: auto;
}
.h2--media--title {
	display: none;
}

@media (width < 800px) {
	.li_kargo {
		display: none;
	}
	.burger {
		position: relative;
		top: 0.3rem;
		display: block;
		display: flex;
		flex-direction: column;
		row-gap: 0.7rem;
	}
	.kargo__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.stack__cards .card:nth-child(n + 3) {
		display: none;
	}
	.cards__container .shipping__card:nth-child(n + 2) {
		display: none;
	}
	.feedback__card-container {
		margin: 0 auto;
		display: flex;
	}
	.feedback__card-container .feedback__cards:nth-child(n + 2) {
		display: none;
	}
	.card__btn {
		font-weight: 400;
		padding: 1rem 3rem;
	}
	.h2--media--title {
		display: block;
		width: 24rem;
		font-family: 'Raleway';
		font-weight: 700;
		font-size: clamp(2.4rem, 3vw, 3.6rem);
		color: #203253;
		margin-bottom: 3rem;
	}
	.h2__example {
		display: none;
	}
	.example__descr {
		width: 24rem;
	}
	.example__span--container {
		display: none;
	}
	.example__a {
		margin: 0 auto;
		width: auto;
	}
	.boat {
		display: none;
	}
	.form__sum {
		order: 2;
	}
	.sum__text {
		position: relative;
		right: -1.5rem;
		order: 1;
	}
	.sum__text--h2 {
		width: 28rem;
	}
	.p__sum--text {
		width: 28rem;
	}
	.footer__container {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 auto;
	}
	.footer__nav {
		display: flex;
		row-gap: 1rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (width < 633px) {
	.delivery {
		flex-direction: column;
	}
	.h1__delivery {
		.h1__delivery {
			font-size: 2.6rem;
			width: 100%;
			max-width: none;
			text-align: center;
		}
	}
	.text__delivery {
		padding: 2.3rem 3rem 6.9rem 3rem;
	}
	.span_container {
		flex-direction: column;
	}
	.input-search {
		min-height: 7.6rem;
	}
	.inputs__delivery input::placeholder {
		color: #929daf;
		font-weight: 500;
	}
	.buttons__delivery {
		padding: 0.6rem 1.9rem 0.5rem 1.9rem;
		font-weight: 400;
	}
	.photo_delivery img {
		width: 60rem;
	}
	.photo__example img {
		width: 100rem;
		padding: 0rem;
		min-height: 12.2rem;
	}
	.photo__example {
		min-height: auto;
	}
	.shipping__h2 {
		width: 27.7rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.shipping__p {
		width: 28rem;
		position: relative;
		bottom: 1rem;
	}
	.feedback__p {
		min-width: 28rem;
	}
}

@media (max-width: 480px) {
	.photo_delivery img {
		width: 100%;
		max-width: 35rem;
		margin: 0 auto;
		display: block;
	}
	.p--descr__stack {
		width: 28rem;
	}
	.cases__p {
		width: 28rem;
	}
	.photo__example img {
		position: relative;
		left: 0.5rem;
		width: 100%;
		max-width: 50rem;
		margin: 0 auto;
	}
	.photo__example {
		min-height: auto;
	}
}
